<h1>予約ID:<%= @reserve[:reserve_id1] %>-<%= @reserve[:reserve_id2] %>　の詳細</h1>
<p>予約施設ID: <%= @reserve[:facility_id] %></p>
<u1>
	<li>予約者名　: <%= @reserve[:name] %>　様</li>
	<li>年齢　: <%= @reserve[:age] %>　歳</li>
	<li>性別　: <%= @reserve_info_sex %>　</li>
	<li>住所　: <%= @reserve[:adress] %>　</li>
	<li>電話番号　: <%= @reserve[:phonenum] %>　</li>
	<li>予約日時　: <%= @reserve[:date]/1000000 %>年
    <%= @reserve[:date]/10000 - (@reserve[:date]/1000000)*100 %>月
    <%= @reserve[:date]/100 -(@reserve[:date]/10000)*100 %>日
    <%= @reserve[:date] -(@reserve[:date]/100)*100 %>時</li>
</u1>
<br>
<a href ="/indexes/index" >一覧へ</a>
