<h1>予約確認</h1>
<p>予約ID:<%= @reserve[:reserve_id1] %>-<%= @reserve[:reserve_id2] %></p>
<p></p>
<u1>
	<li>予約者名　: <%= @reserve[:name] %>　様</li>
	<li>年齢　: <%= @reserve[:age] %>　歳</li>
	<li>性別　: <%= @confirm_info_sex %>　</li>
	<li>住所　: <%= @reserve[:adress] %>　</li>
	<li>電話番号　: <%= @reserve[:phonenum] %>　</li>
	<li>予約施設ID: <%= @reserve[:facility_id] %> </li>
	<li>予約日時　: <%= @reserve[:date] %>　</li>
</u1>
<%= form_for Confirm.new do |f| %>
<p></p>
<p>規約に同意し、上記の内容で予約しますか。</p>
<p><%= f.label :confirm ,"チェックしてください。" %>
<%= f.radio_button :confirm ,TRUE %><%= f.label :yes ,"はい" %>
<%= f.radio_button :confirm ,FALSE %><%= f.label :no ,"いいえ" %></p>
<p></p>
<p><%= f.submit "予約" %></p>
<% end %>
